<ion-content>
    <core-loading [hideUntil]="pageLoaded">
        <div class="bg-color-login">


            <div class="ion-text-wrap ion-text-center ion-margin-bottom bg-color-ill">
                <div class="core-login-site-logo">
                    <!-- Show site logo or a default image. -->
                    <img *ngIf="logoUrl" [src]="logoUrl" role="presentation" alt="" onError="this.src='assets/img/login_logo.png'">
                    <img *ngIf="!logoUrl" src="assets/img/login_logo.png" role="presentation" alt="">
                </div>
                <div class="core-login-site-logo margin-cred">
                    <img src="assets/img/emp_alfa.png" role="presentation" alt="">
                </div>

            </div>
            <div class="">
                <core-login-exceeded-attempts *ngIf="exceededAttemptsHTML && supportConfig && loginAttempts >= 3"
                    [supportConfig]="supportConfig" [supportSubject]="'core.login.exceededloginattemptssupportsubject' | translate">
                    <div [innerHTML]="exceededAttemptsHTML" (click)="exceededAttemptsClicked($event)"></div>
                </core-login-exceeded-attempts>

                <form [formGroup]="credForm" (ngSubmit)="login($event)" class="core-login-form" #credentialsForm>
                    <div class="padding-input">
                        <div class="border-rad-input">
                            <ion-item *ngIf="siteChecked && !isBrowserSSO">
                                <ion-label class="sr-only">{{ 'core.login.username' | translate }}</ion-label>
                                <ion-input type="text" name="username" placeholder="{{ 'core.login.username' | translate }}"
                                    formControlName="username" autocapitalize="none" autocorrect="off" autocomplete="username"
                                    enterkeyhint="next" required="true">
                                </ion-input>
                            </ion-item>
                        </div>
                        <div class="border-rad-input">
                            <ion-item *ngIf="siteChecked && !isBrowserSSO" class="ion-margin-bottom">
                                <ion-label class="sr-only">{{ 'core.login.password' | translate }}</ion-label>
                                <core-show-password name="password">
                                    <ion-input name="password" type="password" placeholder="{{ 'core.login.password' | translate }}"
                                        formControlName="password" [clearOnEdit]="false" autocomplete="current-password" enterkeyhint="go"
                                        required="true">
                                    </ion-input>
                                </core-show-password>
                            </ion-item>
                        </div>

                    </div>
                    <ion-button expand="block" type="submit" [disabled]="siteChecked && !isBrowserSSO && !credForm.valid"
                        class="ion-margin core-login-login-button ion-text-wrap">
                        {{ 'core.login.loginbutton' | translate }}
                    </ion-button>
                    <!-- Forgotten password option. -->
                    <ion-button *ngIf="showForgottenPassword" expand="block" fill="clear"
                        class="core-login-forgotten-password core-button-as-link ion-text-wrap" (click)="forgottenPassword()">
                        {{ 'core.login.forgotten' | translate }}
                    </ion-button>


                    <!-- Remove this once Ionic fixes this bug: https://github.com/ionic-team/ionic-framework/issues/19368 -->
                    <input type="submit" class="core-submit-hidden-enter" />


                </form>
            </div>
        </div>


    </core-loading>
</ion-content>
