@import "~theme/globals";

.bg-color-login {
    background-color: #A6C5DE;
    height: 100vh;
}

.bg-color-ill {
    background-color: #FFFFFF;
    padding-bottom: 10px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.padding-input {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
}

.border-rad-input {
    border-radius: 12px;
    background-color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 12px;
}

.margin-cred{
    margin-top: 26px;
}
